@font-face {
  font-family: 'Pacifico';
  src: url(./assets/font/Pacifico-Regular.ttf) format('truetype');
  /* Add additional formats if needed (e.g., woff, woff2) */
}

.App {
  text-align: center;
  font-family: 'Pacifico', cursive;
  
  
}

.visible{
  visibility: visible;
}


.hidden{
  visibility: hidden;
}